.container {
  .flex-container {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 16px 0;
    }
  }
  &.flex-container {
    position: relative;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;

    z-index: 1;

    background-color: $primary-white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  &.is-open {
    display: block;
  }
}

.site-nav {
  @extend %list;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav {
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;

    text-align: center;

    .item {
      margin-bottom: 30px;
    }

    .item:last-child {
      margin-bottom: 50px;
    }
  }
}

.site-nav {
  .item a {
    @extend %link;
    position: relative;

    color: $title-text-color;

    transition: color $transition-duration $transition-timing-function;
    @media screen and (max-width: 767px) {
      display: inline-block;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 8px;
    }
  }
  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.item a.current {
  color: $accent-color;
}

.item .current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: $accent-color;
}

.site-address {
  @extend %list;

  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;
    // a {
    //   text-align: center;
    // }
  }

  a {
    @extend %centered-flex;
    @extend %link;

    // text-align: center;

    color: $primary-text-color;

    transition: color $transition-duration $transition-timing-function;
  }

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.address-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.icon-address {
  display: block;
  margin-right: 10px;

  fill: currentColor;

  transition: fill $transition-duration $transition-timing-function;
}
